@import "colors";

.icon-container {
  color: $reddark;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

nav {
  height: 5rem;
  padding-left: 8rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
  background-color: white;

  > .nav-links {
    display: flex;
    align-items: center;

    > a {
      margin: 0 2rem;
      color: $dark;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: $lightdark;
      }
    }
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1rem;
    .nav-links {
      display: none;
      position: absolute;
      top: 5rem;
      left: 0;
      z-index: 1;
      min-width: 10rem;
      background-color: white;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      &.active {
       display: flex;
       flex-direction: column;
     } 
     a {
      margin: 1rem;
     }
   }
 }
.hamburger-menu {
   display: block;
   position: relative;
 }
}
