@import "colors";

.menu {
display: flex;
align-items: center;
flex-direction: column;
margin-top: 3rem;
min-height: 100vh;
}

#menu {
  width: 100%;
  min-height: 100%;
  background-color: white;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  > h1 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
}

.menuCard {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
  text-align: center;
  width: calc(33.33% - 1rem);
  box-sizing: border-box;
  margin: 0.5rem;

  > div {
    border-radius: 20px 20px 0 0;
    background-color: $red;
    display: flex;
    align-items: center;
    padding: 2rem;
    color: white;
    height: 4rem;
  }

  > main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    > img {
      height: 10rem;
      width: 100%;
      object-fit: contain;
    }

    > h5 {
      font-size: 1.8rem;
    }
    > p {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.8rem;
    }

    > button {
      background-color: $red;
      color: white;
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $reddark;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #menu > div {
    flex-direction: column;
  }

  .menuCard {
    width: 100%;
    margin: 1rem 0;
  }
}

